* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
}

body { 
  height: 100vh;
  width: 100vw;
  overflow-Y: scroll;
  overflow-X: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}



.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.hero-image {
  position: relative;
  width: 100vw;
  top: 0;
  left: 0;
}

.logo-white {
  position: absolute;
  width: 16vw;
  top: 0;
  left: 0;
  margin-top: 2em;
  margin-left: 11.75%;
}

.welcome-text-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 8vw; */
  height: 100%;
  width: 100vw;
}

.welcome-to-text {
  font-size: 5em;
  color: transparent;
  -webkit-text-stroke: .03em white;
}

.rooster-grin-text {
  font-size: 4.5em;
  color: white;
  letter-spacing: .1em;
}

.welcome-btn {
  height: 4vw;
  width: 12vw;
  background-color: mediumorchid;
  margin-top: 2vw;
  color: white;
  border-radius: 2%;
  font-size: 1em;
  letter-spacing: .2em;
}



.section-1-container {
  position: relative;
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-block-container {
  position: relative;
  width: 50vw;
  height: 35vw;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;

}

.text-block {
  position: absolute; 
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 8vw;
}

.title-text-1 {
  font-size: 1.75vw;
  color: rebeccapurple;
  letter-spacing: .1vw;
}

.paragraph-text {
  font-size: 1.25vw;
  margin-top: 1.5vw;
}

.more-content-arrow {
  font-size: 1vw;
  color: rebeccapurple;
}


.hikers-image-container {
  position: relative;
  width: 50vw;
  right: 0;
}

.hikers-image {
  position: relative;
  width: 100%;
}



.section-2-container {
  position: relative;
  width: 100vw;
  top: -.4vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-1-group {
  position: relative;
  width: 100vw;
}

.banner {
  position: relative;
  width: 100%;
}

.title-and-btn-group {
  position: absolute;
  margin-left: 16vw;
  margin-top: -25vw;
}

.generic-btn {
  height: 4vw;
  width: 12vw;
  background-color: darkorange;
  margin-top: 2vw;
  color: white;
  border-radius: 2%;
  font-size: 1em;
  letter-spacing: .2em;
}



.section-3-container {
  position: relative;
  width: 100vw;
  top: -.8vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text-2 {
  font-size: 1.75vw;
  color: black;
  letter-spacing: .1vw;
}

.icon-block-group {
  position: relative;
  width: 50vw;
}

.icon-block {
  position: relative;
  width: 50vw;
  height: 35vw;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-icons, .right-icons {
  display: flex;
  flex-direction: column;
  margin-top: -5vw;
  margin-left: -5vw;
  margin-right: 7vw;
}

.icons-and-text {
  display: flex;
  flex-direction: column;
}

.icon-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw 0vw 0vw 10vw;
}

.icon-disk {
  position: relative;
  display: flex; 
  justify-content: center;
  transition: .25s ease;
}

.icon-disk:hover {
  transform: scale(.9);
}

.icon-disk:hover .icon-circle {
  background-color: lightgray;
}

.icon-disk:hover .icon {
  transform: scale(1.5) rotate(4deg);
  filter: drop-shadow(2px 3px 2px rgba(0,0,0,0.3));
}

.icon-circle {
  position: absolute;
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  background-color: whitesmoke;
  border: .2vw solid rebeccapurple;
  transition: .25s ease;
}

.icon {
  position: relative;
  height: 5vw;
  margin-top: .8vw;
  transition: .25s ease;
}

.clipboard {
  margin-left: .6vw;
}

.calendar {
  height: 4vw;
  margin-top: 1.3vw;
}

.icon-text {
  position: relative;
  color: black;
  margin-top: 2vw;
  font-size: 1vw;
}



.section-4-container {
  position: relative;
  width: 100vw;
  top: -.8vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-and-btn-group-2 {
  position: absolute;
  margin-left: 50vw;
  width: 25vw;
}